* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

table {
	border-collapse: collapse;
}

.table td, .table th {
	padding: 5px;
}

.table-border, .table-border td, .table-border th {
	border: 1px solid black;
}

.list-inline li {
		display: inline-block;
}

.text-center{text-align: center;}

.border-1{border: 1px solid #000}

.pa-1{padding:1px}
.pa-2{padding:2px}
.pa-3{padding:3px}
.pa-4{padding:4px}
.pa-5{padding:5px}
.pa-6{padding:6px}
.pa-7{padding:7px}
.pa-8{padding:8px}
.pa-9{padding:9px}
.pa-10{padding:10px}

.ma-1{margin:1px}
.ma-2{margin:2px}
.ma-3{margin:3px}
.ma-4{margin:4px}
.ma-5{margin:5px}
.ma-6{margin:6px}
.ma-7{margin:7px}
.ma-8{margin:8px}
.ma-9{margin:9px}
.ma-10{margin:10px}

.ma-t-1{margin-top:1px}
.ma-t-2{margin-top:2px}
.ma-t-3{margin-top:3px}
.ma-t-4{margin-top:4px}
.ma-t-5{margin-top:5px}
.ma-t-6{margin-top:6px}
.ma-t-7{margin-top:7px}
.ma-t-8{margin-top:8px}
.ma-t-9{margin-top:9px}
.ma-t-10{margin-top:10px}

.ma-b-1{margin-bottom:1px}
.ma-b-2{margin-bottom:2px}
.ma-b-3{margin-bottom:3px}
.ma-b-4{margin-bottom:4px}
.ma-b-5{margin-bottom:5px}
.ma-b-6{margin-bottom:6px}
.ma-b-7{margin-bottom:7px}
.ma-b-8{margin-bottom:8px}
.ma-b-9{margin-bottom:9px}
.ma-b-10{margin-bottom:10px}

.flex{display:flex}
.flex.wrap{flex-flow: row wrap}
.flex-row-reverse{flex-direction: row-reverse;}
.flex-column-reverse{flex-direction: column-reverse;}
[class^=flex-].breaker{flex-basis: 100%}
.justify-center{justify-content: center;}
.align-center{align-items: center;}
.flex-1{flex:1}
.flex-2{flex:2}
.flex-3{flex:3}
.flex-4{flex:4}
.flex-5{flex:5}
.flex-6{flex:6}
.flex-7{flex:7}
.flex-8{flex:8}
.flex-9{flex:9}
.flex-10{flex:10}
.flex-11{flex:11}
.flex-12{flex:12}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.header, .footer {
	height: 150px;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
}

.main {
	display: flex;
}

.content {
	padding: 10px
}

.footer {
	height: 50px;
	line-height: 50px;
}